{% load staticfiles %}
<html>
    <head>
        <title>lilong's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="page-header">
            <h2><a href="">My first message</a></h2>
        </div>

        <div class="container">
            <div class="message">
                对不起，让你伤心了。我会努力改正的。
            </div>

        </div>

    </body>
</html>